body {
    margin-left: 40px ;
    margin-right:40px ;
    font-family: sans-serif;
    padding: 60px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.imagen-container {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.imagen {
    width: 1200px;
}


a {
    color: #fff;
    background-color: #019FFB;
    padding: 5px;
    border: solid #019FFB;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
}